<%= form_for [@question, @answer] do | f | %>
<div>
  <legend></legend>
  A. <%= @question.option_a %>
    <% @question.options.each do | opt | %>
      <label>
        <%= f.radio_button :option_id, opt.id %>
        <%= opt.body %>
      </label>
    <% end %>
  B. <%= @question.option_b %>
  <legend></legend>
</div>
<%= f.submit "Continuar" %>
<% end %>
