<%= form_for [@question, @answer] do | f | %>
<!-- Caja contenedora de respuestas -->
  <div><form id="formu">
      <legend></legend>
      <div class="row">
        <br>
        <div class="col-md-2 text-white"><strong>Opcion A:</strong><p> <%= @question.option_a %></p> </div>
        <div class="col-md-8">
          <div class="table-responsive" style="text-align:center;">
              <table align="center" class="table table-striped">
                <tr>
                  <td><label>Definitivamente</label></td>
                  <td><label>Tal vez</label></td>
                  <td><label>Indeciso</label></td>
                  <td><label>Tal vez</label></td>
                  <td><label>Definitivamente</label></td>
                </tr>
                <tr>
                  <td bgcolor="gold">A</td>
                  <td bgcolor="gray">A</td>
                  <td style="background-color:#C0C7C9"</td>
                  <td bgcolor="gray">B</td>
                  <td bgcolor="gold">B</td>
                </tr>

                <tr>
                  <% @question.options.each do | opt | %>
                    <td>
                      <%= f.radio_button :option_id, opt.id %>
                    </td>
                  <% end %>
                </tr>
              </table>
            </div>
        </div>
        <div class="col-md-2 text-white"><strong>Opcion B:</strong><p> <%= @question.option_b %></p></div>
      </div>
      <br>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="form-group">
          <%= submit_tag "Continuar", class: 'btn btn-primary', style: 'width:100%;'%>
        </div>
      </div>
      <div class="col-md-4"></div>
  </form></div>
<!-- FIN Contenido que se repite -->
<% end %>


<!-- <%= form_for [@question, @answer] do | f | %>
<div>
  <legend></legend>
  A. <%= @question.option_a %>
    <% @question.options.each do | opt | %>
      <label>
        <%= f.radio_button :option_id, opt.id %>
        <%= opt.body %>
      </label>
    <% end %>
  B. <%= @question.option_b %>
  <legend></legend>
</div>
<% end %> -->
