<!-- Contenido central del cuerpo -->

	<div class="">
			<div class="text-white">
				<h1>Bienvenido(a) <%= current_user.name.titleize %> </h1>
			</div>

			<div class="lead text-white">
				Gracias por ser parte de esta experiencia. Queremos que sea lo más cómodo para ti, por eso queremos que tú mismo(a)
				escojas la cantidad de días en los que quieres resolver la prueba.
				<br />
				Recuerda que solo podrás realizar una sesión de aproximadamente 15 minutos y tendrás que esperar 60 minutos para poder realizar la siguiente.
			</div>
			<br>
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
		      <%= form_for @user do |f| %>
					<div class="panel panel-default">
						<div class="panel-footer">Selecciona número de días</div>
					  <div class="panel-body">
					    <div class="form-group">
								<%= f.select(:complete_in_days, nil, {}, {class: "form-control"}) do %>
			            <% 7.times do | n | %>
			              <%= content_tag(:option, "#{n+1}", value: n+1) %>
			            <% end %>
			          <% end %>
							</div>
							<div class="form-group">
								<%= submit_tag "Continuar", class: 'btn btn-primary', style: 'width:100%;'%>
							</div>
					  </div>
					</div>
				</div>
				<div class=col-md-3></div>

	      <% end %>
			</div>
	</div>
