<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel"><center>Instrucciones</center></h3>
      </div>
      <div class="modal-body">
        <!-- Caja contenedora de respuestas -->
        <div class="lead">
          Los siguientes enunciados muestran situaciones de la vida cotidiana en las cuales usted debe tomar decisiones. Cada situación tiene cinco (5)
          opciones de respuesta donde usted debe escoger solo una de ellas.
          <br>
          Cada decisión tiene un aspecto a factor y otro en contra, de tal manera que cualquier decisión es válida. Escoja la decisión que más se ajusta
          a su forma de pensar. Evite escoger el valor intermedio (indeciso). Procure tomar una decisión.
          <br>
          Todos los enunciados deben ser respondidos.
          <br>
          <strong>Sugerencia:</strong> El éxito de los resultados depende de su sinceridad al contestar. Evite contestar buscando dejar una buena impresión.
        </div>
        <div><form id="">
          <fieldset>
            <legend></legend>
            <div class="row">
              <div class="col-md-2"><strong>Opcion A:</strong><p></div>
              <div class="col-md-8">
                <div class="table-responsive" style="text-align:center;">
                  <table align="center" class="table table-striped " style="color:black; width:70%;">
                    <tr>
                      <td><label>Definitivamente</label></td>
                      <td><label>Tal vez</label></td>
                      <td><label>Indeciso</label></td>
                      <td><label>Tal vez</label></td>
                      <td><label>Definitivamente</label></td>
                    </tr>
                    <tr>
                      <td bgcolor="gold">A</td>
                      <td bgcolor="gray">A</td>
                      <td style="background-color:#C0C7C9"</td>
                      <td bgcolor="gray">B</td>
                      <td bgcolor="gold">B</td>
                    </tr>

                    <tr>
                      <td><input type="radio" name="resultado" value="Definitivamente A"></td>
                      <td><input type="radio" name="resultado" value="Tal vez A"></td>
                      <td><input type="radio" name="resultado" value="indeciso"></td>
                      <td><input type="radio" name="resultado" value="Tal vez B"></td>
                      <td><input type="radio" name="resultado" value="Definitivamente B"></td>
                    </tr>
                    </table>
                  </div>
                </div>
                <div class="col-md-2"><strong>Opcion B:</strong></div>
            </fieldset>

        </form></div>
      </div>
      <div class="modal-footer">
        <% if @is_able %>
          <%= link_to("Aceptar", question_path(@question), class: "btn btn-primary") %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->

<div class "">

  <div class="text-white">
    <h1>Bienvenido(a) <%= current_user.name.titleize %> </h1>
  </div>
  <hr>

    <% if @is_able %>
      <div class="lead text-white">
        Cada vez estamos más cerca de lograr nuestro objetivo y tu eres parte de este proceso, así que recuerda
        presionar Continuar para seguir siendo parte de esta experiencia.
      </div>

      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= current_user.deterinate_progress %>%">
          <%= current_user.deterinate_progress %>%
        </div>
      </div>
      <br><br>
      <!-- Button trigger modal -->
      <button  style="width:100%;" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Continuar
      </button>
      <!-- <%= link_to("Continuar", question_path(@question), class: "btn btn-primary") %> <!-- TODO change path to game -->

    <% else %>
      <div class="lead text-white">
        <br>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <img src="<%= asset_path('clock.png') %>" class="img-responsive" alt="Responsive image" width="200" height="200">
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-6" style="text-align:left;">
            <br><br>
            Por el momento no has completado el tiempo que requieres para realizar tu próxima prueba, pero tranquilo,
            quedate pendiente que muy pronto podrás seguir compartiendo con nosotros.
          </div>
          <div class="col-md-1"></div>
        </div>
        <br><br>

      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= current_user.deterinate_progress %>%">
          <%= current_user.deterinate_progress %>%
        </div>
      </div>
      <br><br>

      <button  style="width:100%;" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" disabled="disabled">
        Continuar
      </button>

    <% end %>

</div>
